body {
  font-family: "Roboto";
  background: #f5f7fa !important;
  padding: 0 !important;
}
.row {
  margin: 0 !important;
}
.pt-2 {
  padding-top: 12% !important;
}
.ml-2 {
  margin-left: 55px;
}
nav.navbar.navbar-expand-lg.navbar-light.bg-light {
  background: #ffffff;
  box-shadow: 0px 1px 0px rgb(0 0 0 / 8%);
}
.navbar-bg {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 5%);
}
.profile-img {
  border-left: 2px solid rgba(0, 0, 0, 0.08);
  margin-left: 30px;
}
.fal-icon {
  /* background: #B5B5B5; */
  color: #b5b5b5;
  font-size: 30px;
  margin-right: 15px;
}
.contct-content h1 {
  font-weight: 500;
  font-size: 60px;
  /* line-height: 28px; */
  /* display: flex; */
  /* align-items: center; */
  /* letter-spacing: -0.02em; */
  color: #0060d3;
  /* margin-top: 20px; */
}
p.contact-para {
  font-weight: 400;
  font-size: 27px;
  line-height: 36px;
  color: #262626;
  margin-left: 37px;
  /* margin-top: 50px; */
}
.switch-box {
  margin-top: 50%;
  margin-left: -37px;
}
.switch input:focus + label::before {
  outline: none;
  box-shadow: none!important;
}
.form-control:focus {
  box-shadow: none !important;
}
input.from-contact {
  border: 2px solid #e6e6e6 !important;
  border-radius: 18px;
  /* padding: 20px; */
  background-color: #ffffff;
  height: 70px;
}
::placeholder {
  font-weight: 400;
  font-size: 36px;
  line-height: 20px;
  align-items: center;
  color: #b3b3b3;
}
.click a {
  font-weight: 400;
  font-size: 25px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #0060d3;
}
.btn-continue {
  font-weight: 500 !important;
  font-size: 28px !important;
  line-height: 22px !important;
  align-items: center !important;
  text-align: center !important;
  color: rgb(255, 255, 255) !important;
  background: #0060d3 !important;
  border-radius: 8px !important;
  width: 82%;
  margin-left: 37px;
}
.btn-continue[disabled],
.btn-continue[disabled] {
  background-color: #9ec2ee !important;
  color: #fff !important;
  border: 0 none;
}
.btn-continue:focus {
  background: #0060d3 !important;
  color: #ffffff !important;
  border: 1px solid #f3f3f3;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-check:focus + .btn,
.btn:focus {
  box-shadow: none !important;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff12 !important;
  border: none !important;
}
input.form-control.from-contact-input{
  background: #ffffff;
  border: 2px solid #e6e6e6;
  border-radius: 10px;

  height: 70px;
}
i {
  margin-left: -30px;
  cursor: pointer;
}
.input-section {
  position: relative;
}
img#togglePassword {
  position: absolute;
  top: 27%;
  right: 15%;
  width: 30px;
}

.switch {
  font-size: 1rem;
  position: relative;
}
.switch input {
  position: absolute;
  height: 1px;
  width: 1px;
  background: none;
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
  padding: 0;
}
.switch input + label {
  position: relative;
  min-width: calc(calc(2.375rem * 0.8) * 2);
  border-radius: calc(2.375rem * 0.8);
  height: calc(2.375rem * 0.8);
  line-height: calc(2.375rem * 0.8);
  display: inline-block;
  cursor: pointer;
  outline: none;
  user-select: none;
  vertical-align: middle;
  text-indent: calc(calc(calc(2.375rem * 0.8) * 2) + 0.5rem);
}
.switch input + label::before,
.switch input + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: calc(calc(2.375rem * 0.8) * 2);
  bottom: 0;
  display: block;
}
.switch input + label::before {
  right: 0;
  background-color: #dee2e6;
  border-radius: calc(2.375rem * 0.8);
  transition: 0.2s all;
}
.switch input + label::after {
  top: 2px;
  left: 2px;
  width: calc(calc(2.375rem * 0.8) - calc(2px * 2));
  height: calc(calc(2.375rem * 0.8) - calc(2px * 2));
  border-radius: 50%;
  background-color: white;
  transition: 0.2s all;
}
.switch input:checked + label::before {
  background-color: #059669 !important;
}
.switch input:checked + label::after {
  margin-left: calc(2.375rem * 0.8);
}
.switch input:focus + label::before {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 136, 221, 0.25);
}
.switch input:disabled + label {
  color: #868e96;
  cursor: not-allowed;
}
.switch input:disabled + label::before {
  background-color: #e9ecef;
}
.switch.switch-sm {
  font-size: 0.875rem;
}
.switch.switch-sm input + label {
  min-width: calc(calc(1.9375rem * 0.8) * 2);
  height: calc(1.9375rem * 0.8);
  line-height: calc(1.9375rem * 0.8);
  text-indent: calc(calc(calc(1.9375rem * 0.8) * 2) + 0.5rem);
}
.switch.switch-sm input + label::before {
  width: calc(calc(1.9375rem * 0.8) * 2);
}
.switch.switch-sm input + label::after {
  width: calc(calc(1.9375rem * 0.8) - calc(2px * 2));
  height: calc(calc(1.9375rem * 0.8) - calc(2px * 2));
}
.switch.switch-sm input:checked + label::after {
  margin-left: calc(1.9375rem * 0.8);
}
.switch.switch-lg {
  font-size: 1.25rem;
}
.switch.switch-lg input + label {
  min-width: calc(calc(3rem * 0.8) * 2);
  height: calc(3rem * 0.8);
  line-height: calc(3rem * 0.8);
  text-indent: calc(calc(calc(3rem * 0.8) * 2) + 0.5rem);
}
.switch.switch-lg input + label::before {
  width: calc(calc(3rem * 0.8) * 2);
}
.switch.switch-lg input + label::after {
  width: calc(calc(3rem * 0.8) - calc(2px * 2));
  height: calc(calc(3rem * 0.8) - calc(2px * 2));
}
.switch.switch-lg input:checked + label::after {
  margin-left: calc(3rem * 0.8);
}
.switch + .switch {
  margin-left: 1rem;
}

body {
  padding: 1rem;
}

.contentA {
  display: none;
}
.icon-fas {
  font-size: 60px;
  color: #1a70d7;
}
.profile-para {
  font-weight: 400;
  font-size: 35px;
  /* line-height: 20px; */
  color: #595959;
  /* margin-left: 60px; */
}

select.form-select.select-option {
  background: #e6effb;
  border: 1px solid #0060d3;
  box-shadow: 0px 2px 2px -3px rgb(0 0 0 / 10%), 0px 0px 0px 1px #cddeee;
  border-radius: 8px;
  font-size: 30px;
}
::placeholder {
  font-weight: 400;
  font-size: 25px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #262626;
}

input[type="text"] {
  font-size: 25px;
}
label.form-check-label {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: #595959;
}
input#flexCheckDefault {
  font-size: 30px;
  /* padding-top: 29px; */
  margin-top: -4px;
  /* margin-left: -26px; */
}
.btn-continue-sec {
  background: #0060d3 !important;
  border-radius: 8px !important;
  font-weight: 500 !important;
  font-size: 28px !important;
  line-height: 22px !important;
  align-items: center !important;
  text-align: center !important;
  color: #ffffff !important;
  width: -webkit-fill-available;
}
.terms-notes p {
  font-weight: 400;
  font-size: 22px;
  color: #595959;
}
.icon-sec i {
  background: #e6effb;
  border-radius: 13px;
  padding: 12px 16px;
}
.arrow-icon {
  font-size: 40px;
  color: #918c8c;
  /* font-weight: bold; */
}
.ml-3 {
  margin-left: 80px;
}
.content-from {
  font-weight: 400;
  font-size: 30px;
  line-height: 20px;
  color: #8c8c8c;
}
i#togglePassword1 {
  position: absolute;
  top: 67%;
  right: 20%;
}
a.forgot-password {
  font-weight: 500;
  font-size: 30px;
  line-height: 18px;
  text-decoration: none;

  /* border: none!important; */
}
.contct-content p {
  font-weight: 400;
  font-size: 29px;
  /* line-height: 18px; */
  color: #262626;
  /* margin-top: 50px; */
}
.title {
  font-weight: 600;
  margin-top: 20px;
  font-size: 24px;
}

.customBtn {
  border-radius: 0px;
  padding: 10px;
}

form input {
  display: inline-block;
}
input.otp {
  background: #ffffff;
  border: 2px solid #e6e6e6;
  border-radius: 20px;
  width: 80px;
  height: 80px;
  text-align: center;
  margin-right: 20px;
}
input.otp:hover {
  border-color: #e6e6e6 !important;
}
input.otp:focus-visible {
  outline: none;
}
i.far.fa-eye.far-icon {
  position: absolute;
  top: 20px;
  right: 20%;
}
.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  width: 78%;
}
li.case-section span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 14px;
  color: #059669;
}
li.case-number span {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 14px;
  color: #dc2626;
}
li.case-section span i {
  font-size: 16px;
}
li.case-number span i {
  font-size: 16px;
}
option:hover {
  background-color: yellow !important;
}
.img-eye {
  position: absolute;
  top: 60%;
  right: 2%;
  width: 30px;
}
.img-eye-1 {
  position: absolute;
  top: 22px;
  right: 18%;
}
select option {
  margin: 40px;
  background: #ffffff;
  color: #262626;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.06), 0px 3px 14px rgba(0, 0, 0, 0.04),
    0px 5px 5px rgba(0, 0, 0, 0.12) !important;
}
/* select option[value="1"] {
  background: rgba(100, 100, 100, 0.3);
}

select option[value="2"] {
  background: rgba(150, 150, 150, 0.3);
}

select option[value="3"] {
  background: rgba(200, 200, 200, 0.3);
}

select option[value="4"] {
  background: rgba(250, 250, 250, 0.3);
} */

/* progress bar */

.progress {
  height: 5px;
}

.control-label {
  text-align: left !important;
  padding-bottom: 7px;
}

.form-horizontal {
  padding: 25px 20px;
  border: 1px solid #eee;
  border-radius: 5px;
}

select.form-control:focus {
  border-color: #e9ab66;
  box-shadow: none;
}

.block-help {
  font-weight: 300;
}

.terms {
  text-decoration: underline;
}

.modal {
  text-align: center;
  padding: 0 !important;
}

.modal:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.divider {
  position: absolute;
  height: 2px;
  border: 1px solid #eee;
  width: 100%;
  top: 10px;
  z-index: -5;
}

.ex-account {
  position: relative;
}

.ex-account p {
  background-color: rgba(255, 255, 255, 0.41);
}

select:hover {
  color: #444645;
  background: #ddd;
}

.fa-file-text {
  color: #edda39;
}

.mar-top-bot-50 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.main-box {
  list-style: none;
}
/* dropdown */

.ui.fluid.search.selection.dropdown {
  /* margin-top: 10px;
  width: 94%;
  background: #e6effb;
  border: 1px solid #0060d3;
  box-shadow: 0px 2px 2px -3px rgb(0 0 0 / 10%), 0px 0px 0px 1px #cddeee;
  border-radius: 8px;
  /* height: 64px; */
  /* margin-left: 59px; */
} */
.icon-box {
  cursor: pointer;
  position: relative;
}
/* .clear {
  position: absolute;
  z-index: 22;
  right: 22px;
  top: 15px;
} */
.item {
  font-weight: 400 !important;
  font-size: 20px !important;
  line-height: 20px !important;
  align-items: center !important;
  color: #262626 !important;
}
.itme small {
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  align-items: center !important;
  color: #595959 !important;
}

.ui.selection.dropdown{
  padding: 0!important;
  padding-left: 10px;
}
button.btn.btn-ins {
  background: #059669;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  align-items: center;
  color: #ffffff;
  width: 90%;
  margin-left: 14px;
}
p.base-para {
  font-weight: 400;
  font-size: 18px;
  /* line-height: 18px; */
  /* display: flex; */
  align-items: center;
  color: #58595b;
  margin-left: 15px;
  margin-top: 10px;
}

section.field {
  margin-left: 40px;
}
/* i.dropdown.icon {
  display: none;
} */
.ui.search.dropdown .menu {
   max-height: 12.028571rem !important; 
  background: #ffffff;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.06), 0px 3px 14px rgba(0, 0, 0, 0.04),
    0px 5px 5px rgba(0, 0, 0, 0.12) !important;
  border-radius: 8px;
}

.form-check.py-3.text-left {
  margin-left: 62px;
}
label.form-check-label.check-sec {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 18px;
  color: #595959;
}
.ui.dropdown .menu .selected.item,
.ui.dropdown.selected {
  background: rgba(0, 96, 211, 0.06) !important;
  color: rgba(0, 0, 0, 0.95);
}
.ui.selection.active.dropdown .menu {
  border-color: #96c8da;
  background: #ffffff;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.06), 0px 3px 14px rgba(0, 0, 0, 0.04),
    0px 5px 5px rgba(0, 0, 0, 0.12) !important;
  border-radius: 8px;
  margin-top: 10px;
}



div#popover-password p {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  color: #8c8c8c;
  margin-top: 10px;
}
.btn-reset {
  font-weight: 500 !important;
  font-size: 28px !important;
  line-height: 22px !important;
  align-items: center !important;
  text-align: center !important;
  color: rgb(255, 255, 255) !important;
  background: #0060d3 !important;
  border-radius: 8px !important;
  width: 80%;
  margin-left: 48px;
}
.custom-control-label::before, 
.custom-control-label::after {
top: .8rem;
width: 1.25rem!important;
height: 1.25rem!important;
margin-top: -2px!important;
}
/* .ui.search.dropdown>.text {
  cursor: text;
  position: relative;
  left: 1px;
  z-index: 3;
  display: inline-flex;
  font-weight: 400;
font-size: 20px;
line-height: 20px;
color: #262626;
 margin-top: 10px; 
} */


.ui.search.dropdown>.text {
    cursor: text;
    position: relative;
    left: 11px!important;
    top: 10px;
    font-size: 16px;
    z-index: 3;
}

.gap-1{
  gap: 10px;
}

p {
  margin-top: 0!important;
  margin-bottom: 1rem!important;
}

.row{
  margin: 0px!important;
}